<div class="content">
  <h1 class="regule-partenaire-header">My team</h1>
  <div class="partenaire">
    <div class="partenaire-inner">
      <div class="partenaire-photo">
        <%= image_tag  "NBK" %>
      </div>
      <div class="partenaire-info">
        <h3>NBK</h3>
        <h3>CS:Go</h3>
        <h1>9.8/10</h1>
      </div>
      <div class="partenaire-contact">
        <ul class="social">
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt=""> </li>
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt=""> </li>
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-128.png" alt=""> </li>
          <li><img src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/16-512.png" alt=""> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="partenaire">
    <div class="partenaire-inner">
      <div class="partenaire-photo">
        <img src="http://genknews.genkcdn.vn/2017/photo-0-1512040440234.jpg" alt="">
      </div>
      <div class="partenaire-info">
        <h3>Faker</h3>
        <h3>League Of Legend</h3>
        <h1>9.7/10</h1>
      </div>
      <div class="partenaire-contact">
        <ul class="social">
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt=""> </li>
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt=""> </li>
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-128.png" alt=""> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="partenaire">
    <div class="partenaire-inner">
      <div class="partenaire-photo">
        <img src="https://static1.millenium.org/articles/9/28/80/39/@/292819-genius-article_m-4.jpg" alt="">
      </div>
      <div class="partenaire-info">
        <h3>@Genius</h3>
        <h3>Tekken</h3>
        <h1>9.2/10</h1>
      </div>
      <div class="partenaire-contact">
        <ul class="social">
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt=""> </li>
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt=""> </li>
          <li><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-128.png" alt=""> </li>
          <li><img src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/16-512.png" alt=""> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
