/* code couleur */
/* green flashy rgba(206, 251, 95,1);
dark blue rgba(31, 31, 81,1);
mauve rgba(191, 55, 105,1);
black rgba(20,20,20,1);
light grey rgba(220,220,220,1);
dark grey rgba(90,90,90,1);
 */
 *{
   padding: 0;
   margin: 0;
 }
 html,body{
   font-family: 'Oswald', sans-serif;
   width: 100%;
 }
 /* permet de rendre le menu hamburger fonctionnel */
.fixed{
  position: fixed;
}
 /* fin de la class fixed */
.main-header{
  position: relative;
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
.maj{
  height: 57px;
}
h1,h2,h3{
  padding: 0;
  margin: 0;
}


 /* page ranking start */
/* .ranking{
  background-color: red;
  height: 100vh;
  text-align: center;
}
.ranking h2{
  background-color: rgba(191, 55, 105,1);
  color: #FFF;
  position: sticky;
  width: 100%;
  top: 57px;
  padding: 5px;
  font-style: italic;
  text-align: left;
} */
 /* page ranking end */
footer{
  background-color: rgba(20,20,20,1);
  color: #FFF;
  width: 100%;
  text-align: center;
  position: sticky;
  bottom: -1px;
  margin: 0;
  padding: 5px 0;
  z-index: 100;
  box-sizing: border-box;
}
footer p{
  padding: 0;
}
 /* version mobile */

 @media (max-width: 725px) {
   .search{
     text-align: center;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
   }
   #menu-app-slide{
     width: 70%;
     min-height: 100%;
     position: absolute;
     bottom: 0;
     top:0;
     z-index: 999;
     left: -100%;
     transition: all ease-in-out .2s;
   }
   .slider{
     width: 100%;
     height: 100vh;
     position: absolute;
     bottom: 0;
     left: 0 !important;
     z-index: 999;
     transition: all ease-in-out .2s;
   }
   .menuapp{
     background: #ADA996;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     height: 100vh;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     height: 100vh;
     box-shadow: 0 1px 17px 1px #000;
   }
   .profil{
     background-image: linear-gradient(19deg, rgba(191, 55, 105,.8) 0%, rgba(31, 31, 81,1) 100%);
     text-align: center;
     background-position: center;
     background-size: cover;
     padding: 10px;
     color: #FFF;
   }
   .profil img{
     width: 140px;
     border-radius: 4px;
   }

   .menuapp li{
     border-bottom: 1px solid #DDD;
     text-align: center;
     text-transform: uppercase;
     padding: 15px;
     font-size: 20px;
   }
   .menuapp a{
     color: #222;
 }
   .next h2{
     background-color: rgba(191, 55, 105,1);
     color: #FFF;
     position: sticky;
     width: 100%;
     top: 57px;
     z-index: 1;
   }
   .past h2{
     background-color: rgba(191, 55, 105,1);
     color: #FFF;
     position: sticky;
     width: 100%;
     top: 56px;
     z-index: 2;
   }
  }
  #nav-toggle {
    display: block;
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    z-index: 1000;
  }
  @media (min-width: 725px) {
    #nav-toggle, #menu-app-slide {
      display: none;
      }
    }
  @media (max-width: 725px) {
    .menudesk{
      display: none;
      }
    }
 .hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  width: 1.5em;
  height: 3px;
  background: white;
  transition: all ease-in-out .2s;
 }

 .hamburger::before {
  transform: translateY(-6px);
 }

 .hamburger::after {
  transform: translateY(3px);
 }

 .hamburger.is-open {
  transform: rotate(45deg);
 }
 .hamburger.is-open::after {
  transform: rotate(-90deg) translateX(3px);
 }
 .hamburger.is-open::before {
  opacity: 0;
 }

 /* home pages */

 .section{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:50px;
  margin-bottom:30px;
  flex-wrap: wrap;
 }

 .section .article img{
  width: 100%;
 }
 .section .article{
  width: 100%;
  border: 1px solid #EEE;
  margin: 10px auto 0 auto;

 }
 .section .article p{
   font-weight: lighter;
 }
 .section .article span{
   text-decoration: underline;
 }
 @media (min-width: 725px) {
  .section{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .section .article{
    width: 30%;
    border: 1px solid #EEE;
    margin: 10px auto 0 auto;
  }
 }
/* partenaire */
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.regule-partenaire-header{
  display: block;
  background-color: rgba(191, 55, 105,1);
  width: 100%;
  color: #FFF;
  font-style: italic;
  padding-top: 60px;
  padding-left: 15px;
}
.partenaire{
  display: flex;
  margin: 5px;
}
.partenaire-inner{
  width: 100%;
  padding: 10px;
  background: #EEE;
}
.partenaire-inner img{
  width: 100%;
}
.partenaire-info{
  display: flex;
}
.partenaire-info h3{
  flex: 1;
}
.social li{
  display: inline;
}
.partenaire-contact .social img{
  width: 20px;
}
@media (min-width: 725px) {

  .content{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
  }
 .partenaire{
   flex-basis:40%;
 }
 footer{
   position:inherit;
 }
}


/* debut de la page sign up player with devise */


#main-content{
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main-content .field input{
  font-size: 16px;
  padding: 2px;
}
#main-content .actions input{
  padding:5px;
  background-color: rgba(206, 251, 95,1);
  color: #111;
  width: 180px;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 7px .1px;
  transition: .05s;
}
#main-content .actions input:hover{
  background-color: rgba(206, 251, 95,1);
  box-shadow: 0 0px 0px .1px;
}
#main-content #main-players,#main-sponsors{
  margin: auto;
  height: 100vh;
}
#main-content h1,h2{
  padding-top: 100px;
  text-align: center;
}
#main-content .arrow {
  width: 20px;
  height: 20px;
  margin: 0px auto;
  border-right: 2px solid #111;
  border-top: 2px solid #111;
  transform: translateX(-50%) rotate(135deg);
  text-align: center;
  position: absolute;
  top: 80vh;
  left: 50%;
  transition: .2s ease-in-out;
}
#main-content .arrow:hover{
  top: 81vh;
}
#main-content .span-text{
  margin-top: 90px;
  font-size: 14px;
  background: inherit;
}
#main-content .btn-call a{
  padding:5px 35px;
  background-color: rgba(206, 251, 95,1);
  color: #111;
  width: 180px;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 7px .1px;
  transition: .05s;
}
#main-content p{
  font-weight: lighter;
  background: #FFF;
  width: 70%;
  margin: 10px auto;
}
#main-content .btn-call a:hover{

}
/* version bureau */
@media (min-width: 725px) {
  #main-content{
    height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #main-content h1{
    display: flex;
    background-color: rgba(31, 31, 81,1);
    color: #FFF;
    padding-right: 15px;
    padding-left: 15px;
  }
  #main-content span{
    background: rgba(191, 55, 105,1);
  }
  #main-content #main-players{
    flex: 1;
    margin: auto;
    border-right: 1px solid #DDD;
  }
  #main-content #main-sponsors{
    flex: 1;
    margin: auto;
  }
  #main-content .arrow,.span-text{
    display: none;
  }
}
/* fin de la page sign up player */
